$col : white;

a {
  color: $col;
  text-decoration: none;

  &:hover {
    color: $col;
  }
}

.logo {
  position: relative;
  top: 10px;
}

@media (min-width: 768px) {
  .icon {
    position: relative;
    top: 5px;
  }
}
