a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

h1 {
  color: white;
}

.logo {
  position: relative;
  top: 10px;
}

.im {
  background-image: url(images/evnt.jpg);
  height: 600px;
}

.se {
  background-color: rgba(167, 162, 162, 0.7);
}

.works {
  height: 600px;
}

.lrge {
  color: #636161;
}

div > p {
  color: #3b3a3a;
  text-align: center;
}

@media (min-width: 768px) {
  .icon {
    position: relative;
    top: 5px;
  }
}
