*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

.mybtn > a:hover {
  color: #d45649;
}

h1,
.hdr {
  color: white;
}

.logo {
  position: relative;
  top: 10px;
}

.im {
  background-image: url(images/evnt.jpg);
  height: 600px;
}

.se {
  background-color: rgba(167, 162, 162, 0.7);
}

.works {
  height: 600px;
}

.lrge {
  color: #636161;
}

.circl {
  width: 180px;
  min-height: 160px;
  border-radius: 50%;
  background-image: url(./images/hands.jpg);
}

.circl1 {
  width: 180px;
  min-height: 160px;
  border-radius: 50%;
  background-image: url(./images/food.jpg);
}

.circl2 {
  width: 180px;
  min-height: 160px;
  border-radius: 50%;
  background-image: url(./images/mardi.jpg);
}

.spec {
  border: none;
  -webkit-box-shadow: 2px 1px 5px #5a5a5a;
  box-shadow: 2px 1px 5px #5a5a5a;
  width: 180px;
  border-radius: 2px;
  color: #d45649;
  font-weight: bold;
  min-height: 30px;
}

.sec3 {
  height: 600px;
}

.sec3 > div {
  height: 200px;
}

div > p {
  color: #3b3a3a;
  text-align: left;
}

h3 > p {
  text-align: start;
}

.txt,
.fhd {
  color: white;
  text-align: center;
}

.footer1-container {
  background-color: #0a0a0a;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer1-sec1 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer1-sec1 > p {
  font-size: 10px;
  font-weight: bold;
}

.footer1-sec2 {
  padding: 40px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.footer1-sec2 > div {
  padding: 0 10%;
}

.footer2-container {
  background-color: #222;
  height: 100px;
}

@media (min-width: 768px) {
  .icon {
    position: relative;
    top: 5px;
  }

  .circl,
  .circl1,
  .circl2 {
    width: 200px;
    min-height: 180px;
  }

  .footer1-sec1 {
    width: 80%;
    padding-left: 18%;
  }

  .footer1-sec1 > p {
    font-size: 12px;
    font-weight: bold;
  }

  .footer1-sec2 {
    padding: 70px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer1-sec2 > div {
    padding: 0 10%;
  }

  .footer1-container {
    height: auto;
  }
}
